/*全局采用height包含padding的模式(但不包括margin)，以兼容bootstrap*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding: 10px 10px;
  overflow-y:hidden;
}

.info-div, .btn-div{
  margin-top:5px;
}

.btn-div button{
  margin-right: 20px;
}


/* 表格搜索搜索框样式 */
.access-input {
  display: inline-block;
  min-width: 750px;
  height: 24px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#access-btn{
    min-width: 60px;
}
.top-btn{
    height: 23px;
    margin-left: 5px;
    vertical-align: top;
    min-width: 40px;
    top:0px;
    padding-top: 0px;
}

/* 弹出框样式*/
.modal-body{
    overflow-y: auto;
}
.modal-label{
    padding: 5px;
    font-weight: bold;
}
.modal-input{
    margin: 10px 5px;
    padding: 5px;
    width: 90%;
}

/* 整体结构，分为三列，repos、repo-tree、repo-files*/
#repos,#tree-container,#repo-files{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    overflow-y: auto;
    padding: 5px;
    margin: 0px;
}
#repos{
    width: 55px;
    overflow: hidden;
    border-radius: 3px;
}
#tree-container{
    width:300px;
    border-radius: 3px;
}
#repo-files{
    width:calc(100% - 365px);
    border-radius: 3px;
}
.repo-file, .repo-file-head{
    margin-left: 5px;
    line-height: 22px;
}
.title-div{
    padding: 2px 0px 2px 5px;
}
.file-name, .file-size, .file-revision, .file-author, .file-date{
    display: inline-block;
    width: 80px;
}
.file-author{
    width: 90px;
}
.file-size{
    text-align: right;
    padding-right: 10px;
}
.file-date{
    width: 150px;
}
.file-name{
    width: calc(100% - 420px);
}
.click-node.active{
    background-color: #dae9f7;
}
.click-node{
    user-select: none;
    padding-left: 5px;
}
.click-node:hover{
    /* 设置鼠标样式*/
    cursor: pointer;
    background-color: #f5f5f5;
}


.list-item{
  width: 100%;
  margin-bottom:5px;
  padding:5px;
}
.board{
    margin-top: 10px;
}
#last-note{
    height:calc( 100% - 34px );
    margin-top: -1px;
    line-height: 25px;
}
.top-nav{
    padding: 5px 15px !important;
    border:1px solid #000 !important;
    font-weight: 600;
    /*border-bottom-color: transparent;*/
}
.edit-panel-btn{
    margin-top: -1px;
    color: gray;
    font-weight: normal;
}
#edit-flag{
    font-size: 14px;
    display: none;
    margin-left:3px;
}

#access-res-board{
    background-color:#f8f8f9;
    padding:10px 3px;
    overflow-y: auto;
}
.board-items{
    height:calc( 100% - 30px );
    overflow-y:auto;
    margin-top: 5px;
}
.left-top-title{
    vertical-align: top;
    display: inline-block;
    padding-left: 5px;
    width:100px;
    font-weight: 800;
}
.top-right-btn{
    position:relative;
    top:0px;
    margin-right: 6px;
}
.top-right-btn-1{
    right:calc(135px - 100%);
}
.top-right-btn-2{
    right:calc(175px - 100%);
}
.top-right-btn-3{
    right:calc(215px - 100%);
}
.res-item, .res-detail-items, pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.res-item{
  min-height: 50px;
  max-height: 250px;
  border:none;
  margin: 0px;
}


#res-detail{
    margin-top: 5px;
    background-color:#f5f5f5;
}
.mark, mark{
    padding:2px;
}


#bottom-div{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    line-height: 15px;
    background-color: #f8f8f9;
    font-size: 10px;
    margin: 0px;
    padding:5px 5px;
}
#bottom-info{
    width: 80%;
    display: inline-block;
}
#bottom-status{
    width: calc( 20% - 10px );;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}


/* 边框文字 */
fieldset {
    padding: .35em .625em .75em;
    margin: 0 0px;
    border: 1px solid silver;
}
legend {
    padding: .5em;
    border: 0;
    width: auto;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight:800; 
}

.dir-to-note-btn{
    margin: 10px;
    padding: 5px 10px;
}

.ModalInfoDiv{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.top-nav.disabled{
    filter:grayscale(100%);
}

/** 密码修改 */
.settings-table td{
    padding: 5px 10px;
}
.settings-value{
    width: 550px;
}

/** 日志表格 */
table{
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
}
tr,th,td{
    border: 1px solid gray;
}
.log-item-row {
    margin:5px 1px;
    user-select: none;
}
.log-item-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.log-item-row.active{
    background-color: #dae9f7;
}
.log-item-col {
    padding: 5px;
}
.log-item-revision {
    width: 100px;
}
.log-item-author {
    width: 100px;
}
.log-item-date {
    width: 150px;
}
.log-item-msg{
    width: calc(100% - 350px -10px);
}
#log-item-container{
    max-height: 220px;
    overflow-y: auto;
    border-radius: 4px;
}
#log-file-container{
    margin-top: 10px;
    border: 1px solid gray;
    height: 255px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 4px;
}
#log-msgs-container{
    margin-top: 5px;
    max-height: 80px;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 4px;
}

/* 提交对应的修改文件列表对话框 */
.log-file-item{
    margin: 5px 0px;
    user-select: none;
}
.log-file-action{
    display: inline-block;
    width: 20px;
    padding-left: 5px;
}
.log-prop-action{
    display: inline-block;
    width: 20px;
    padding-left: 5px;
}
.log-file-from{
    display: inline-block;
    width: 300px;
    padding-left: 10px;
}
.log-file-path{
    display: inline-block;
    width: calc(100% - 10px - 20px - 20px - 300px);
    padding-left: 10px;
}
.log-file-item:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

/* 文件变更查看 */
.diff-line-break{
    /*零宽的换行符，设置背景图片为换行箭头*/
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url(img/font-icon.png);
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: 2px 3px;
}
#diff-info{
    overflow-x: auto;
    overflow-y: auto;
    height: 90%;
    width: 100%;
}
#diff-info .green{
    background-color: rgb(101, 243, 101);
}
#diff-info .red{
    background-color: #ff7c7c;
    /*中划线 text-decoration: line-through; */
}
.diff-pre-btn, .diff-next-btn, .diff-pre-copy-btn{
    /* 固定显示在右侧中间位置 */
    position: fixed;
    top: calc(50% - 20px);
    right: 40px;
    z-index: 1000;
    /* 透明度 */
    opacity: 0.5;
    filter:alpha(opacity=50);
    /* 鼠标悬停时透明度 */
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.diff-next-btn{
    top: calc(50% + 20px);
}
.diff-pre-copy-btn{
    top: calc(50% + 60px);
}

/* 属性展示 */
#properties-item-container th{
    text-align: center;
}
#properties-item-container td{
    padding: 10px 5px;
}
#properties-item-container pre{
    margin-bottom: 0px;
}

/* 保存的仓库信息 */
.saved-repo-item{
    border-radius: 3px;
    background-color: #f5f5f5;
    margin: 15px 0px;
    padding: 5px;
    border: 1px solid #000;
    user-select: none;
    font-size: 9px;
    width: 100%;
    word-break: break-all;
}
.saved-repo-item:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.saved-repo-item.active{
    background-color: #dae9f7;
}

/* Add background arrows for ascending and descending classes to indicate sorting direction */
.sortable {
    position: relative;
    cursor: pointer;
    padding-right: 20px; /* Add space for the arrow */
}

.sortable.ascending::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid gray; /* Downward arrow */
}

.sortable.descending::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid gray; /* Upward arrow */
}
